h1 {
    text-align: center;
    color: beige;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #2885be;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

label {
    display: flex;
    margin: 10px auto;
    color: #010326;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px auto;
    width: 200px;
    height: 80px;
    border: 2px solid #6063E0;
    border-radius: 13px;
    background-color: #6063E0;
}

input {
    font-size: 1.2em;
    width: 200px;
    height: 40px;
    border-radius: 13px;
    border: 2px solid #6063E0;
}